# The backup user can login from {{ bgbackup_backup_user_source_host }} (you can configure this in ansible with bgbackup_backup_user_source_host)
[client]
{% if bgbackup_backup_user %}
user={{ bgbackup_backup_user }}
{% endif %}
{% if bgbackup_backup_password | default(False) %}
password={{ bgbackup_backup_password }}
{% endif %}
{% if bgbackup_backup_host | default(False) %}
host={{ bgbackup_backup_host }}
{% endif %}
{% if bgbackup_backup_port | default(False) %}
port={{ bgbackup_backup_port }}
{% endif %}
{% if bgbackup_backup_unix_socket | default(False) %}
socket={{ bgbackup_backup_unix_socket }}
{% endif %}

{% if bgbackup_defaults_file | default(False) %}
# Include the regular defaults file
!include {{ bgbackup_defaults_file }}
{% endif %}
