# Ansible: bgbackup
PATH="{{ bgbackup_cron_path }}"
MAILTO="{{ bgbackup_notification_emails | replace(',', ' ') }}"
{{ bgbackup_minute }} {{ bgbackup_hour }} * * * root /usr/sbin/bgbackup --config {{ bgbackup_config_file_name | quote }}
