############################################

# bgbackup configuration file

# Which backup utility is being used, MariaBackup or Xtrabackup?
# MariaDB Backup = 1
# XtraBackup = 2
backuptool={{ bgbackup_backup_tool | default(1) }}

# Some times the backuptool requires a high amount of open files.
# Use this parameter to set the open file limit to a certain value,
# we recommend 20.000 to make sure there is enough.
openfilelimit={{ bgbackup_open_files_limit | default(0) }}

# For multi-instance support, you can optionally specify a name of the instance. This name is used in the history table and in the log file name.
{% if bgbackup_instance_name | default(False) %}
instance_name={{ bgbackup_instance_name }}
{% else %}
# instance_name=(leave undefined for database servers running only 1 instance (the default))
{% endif %}

# When possibly creating backups from multiple instances (for example an
# asynchronous replication pair, where some times backups are created on the
# other host) the backups on sibling hosts may need to be removed as well as
# the backups from this host.
# 
# Specify a comma separated list fo siblings. Don't forget the instance_name if added with a -.
# The host name taken is the exact output of `hostname`.
{% if bgbackup_siblings | default(False) %}
siblings={{ bgbackup_siblings }}
{% else %}
# siblings=secondary.myorg.local,primary.myorg.local,tertiary.myorg.local
{% endif %}
# 
# When siblings are specified, backups of the siblings are rotated as well, and
# considered it's own backups. Incrementals/differentials can only be created
# from this node's backups.
#
# WARNING! The backups of all the siblings MUST reside on the exact same
# storage as the backup of this host. Otherwise, deleting of sibling's backups
# will stop the sibling from deleting the backups.
#
# If you want to always create backups on all siblings, do not use this
# feature. The backups will be rotated in each node's own backup process.

# for multi-instance support, a different defaults file may be specified (optional, default os default)
{% if bgbackup_backup_write_credentials_file | default(False) %}
defaults_file={{ bgbackup_backup_credentials_file }}
# In this file we include the defaults file if a custom defaults file is specified.
{% elif bgbackup_defaults_file | default(False) %}
defaults_file={{ bgbackup_defaults_file }}
{% else %}
# defaults_file=(os/compile/package maintainer default)
{% endif %}

# Defaults_extra_file can be used for specifying the password as well, but we decided to use !include as defaults-extra-file will overwrite entire configuration sections, making it required to specify the scoket path  twice.
{% if bgbackup_backup_defaults_extra_file | default(False) %}
defaults_extra_file={{ bgbackup_backup_defaults_extra_file }}
{% else %}
# defaults_extra_file=(not used)
{% endif %}
# When both a defaults_extra file and a defaults file is specified, the defaults_extra file will be processed first (--defaults-file) and the defaults file second (--defaults-extra-file).


# MariaDB/MySQL/Percona host to take backup from
{% if bgbackup_backup_host | default(False) %}
host={{ bgbackup_backup_host }}
{% else %}
# host=(read from the defaults file, or defaults to localhost)
{% endif %}

# MariaDB host port (optional)
{% if bgbackup_backup_port | default(False) %}
hostport={{ bgbackup_backup_port }}
{% else %}
# hostport=(read from the defaults file, or defaults to 3306)
{% endif %}

# MySQL socket
{% if bgbackup_backup_unix_socket | default(False) %}
socket={{ bgbackup_backup_unix_socket }}
{% else %}
# socket=(read from the defaults file, or defaults depending on operating system)
{% endif %}

# MariaDB backup username
{% if bgbackup_backup_user %}
 backupuser={{ bgbackup_backup_user }}
{% else %}
# backupuser= (read from configuration file)
{% endif %}

# MariaDB backup user password
{% if bgbackup_backup_password | default(False) and not bgbackup_backup_write_credentials_file %}
backuppass={{ bgbackup_backup_password }}
{% else %}
# backuppass= (read from defaults file, configuration file or unixsocket authentication)
{% endif %}

{% if bgbackup_history_write_credentials_file | default(False) %}
backuphist_defaults_file={{ bgbackup_history_credentials_file }}
# In this file we include the defaults file if a custom defaults file is specified.
{% elif bgbackup_history_defaults_file | default(False) %}
backuphist_defaults_file={{ bgbackup_history_defaults_file }}
{% else %}
# backuphist_defaults_file=(os/compile/package maintainer default)
{% endif %}

{% if bgbackup_history_defaults_extra_file | default(False) %}
backuphist_defaults_extra_file={{ bgbackup_history_defaults_extra_file }}
{% else %}
# backuphist_defaults_extra_file=(os/compile/package maintainer default)
{% endif %}
# Defaults_extra_file can be used for specifying the password as well, but we decided to use !include as defaults-extra-file will overwrite entire configuration sections, making it required to specify the scoket path  twice.
# When both a defaults_extra file and a defaults file is specified, the defaults_extra file will be processed first (--defaults-file) and the defaults file second (--defaults-extra-file).

# MariaDB host for backup history
{% if bgbackup_history_host | default(False) %}
backuphisthost={{ bgbackup_history_host }}
{% else %}
# backuphisthost=(read from the defaults file, or defaults to localhost)
{% endif %}

# MariaDB socket for backup history
{% if bgbackup_history_socket | default(False) %}
backuphistsocket={{ bgbackup_history_socket }}
{% else %}
# backuphistsocket=(read from the defaults file, or defaults to OS defaults)
{% endif %}

# MariaDB port for backup history
{% if bgbackup_history_port | default(False) %}
backuphistport={{ bgbackup_history_port }}
{% else %}
# backuphistport=(read from the defaults file, or defaults to localport)
{% endif %}

# MariaDB user for backup history
{% if bgbackup_history_user %}
backuphistuser={{ bgbackup_history_user }}
{% else %}
# backuphistuser= (read from configuration file)
{% endif %}

# MariaDB password for backup history
{% if bgbackup_history_password | default(False) and not bgbackup_history_write_credentials_file %}
backuphistpass={{ bgbackup_history_password }}
{% else %}
# backuphistpass= (read from configuration file or unixsocket authentication)
{% endif %}

# MariaDB schema for backup history
backuphistschema={{ bgbackup_history_schema }}

# Whether or not to verify backup history is working correctly
backuphist_verify={{ bgbackup_history_verify | default(1) }}
# By default verrfication is enabled: Bgbackup will not run if backup history
# host is unreachable, or if the backup history schema does not exist.
# Incrementals and differentials are only possible with backup history.
# Otherwise all backups are full backups.

# If server is monitored by MONyog, should we disable alerts?
monyog=no

# The name of the server being backed up as setup in MONyog
monyogserver=

# MONyog username
monyoguser=

# MONyog password
monyogpass=

# MONyog host/ip
monyoghost=

# MONyog port
monyogport=

# Day of week to do full backup. Set to "Everyday" to do full backup everyday (subsequent daily backups will be incremental)
fullbackday={{ bgbackup_full_backup_timing | default('Everyday') }}
# If you want every backup to be a full backup you can specify "Always" as fullbackupday.

# Differential does incremental backup based on the last full backup instead of last full or incremental
differential=yes

# Number of full daily backups to keep
keepdaily={{ bgbackup_keep_daily }}

# Number of weekly backups to keep
keepweekly={{ bgbackup_keep_weekly }}

# Number of monthly backups to keep
keepmonthly={{ bgbackup_keep_monthly }}

# Number of yearly backups to keep
keepyearly={{ bgbackup_keep_yearly }}

# Number of backup table backups to keep.
keepbkuptblnum=1

# Number of log files to keep.
keeplognum={{ bgbackup_keep_log_num }}

# Number of days to keep failed backups.
keepfaileddays={{ bgbackup_keep_failed_days | default(365) }}

# Full path to backup directory root
backupdir={{ bgbackup_backup_path }}

# Path to keep logs
logpath={{ bgbackup_log_path }}

# Log to syslog
syslog=no

# Backup type (directory or archive)
bktype=directory

# Archive type (tar or xbstream) for archive backup type
# arctype=tar

# Used for parallel and compress
threads={{ bgbackup_backup_parallel_threads | default(4) }}

# Use parallel threads for backup?
parallel={{ bgbackup_backup_parallel_enabled | default('yes') }}

# Encrypt backup?
encrypt=no

# Full path to encryption key
cryptkey=/etc/my.cnf.d/backupscript.key

# Compress backup?
compress=yes

# Compression utility used for archives, for now gzip or pigz (parallel gzip) are supported
# For standalone directories, qpress is always used
computil=gzip


# By default, xtrabackup will lock all tables to create a consistent backup of non-transactional
# tables. Enabled nolock to disable this behaviour.
# WARNING: Only disable locking if you do not have or do not care about your non-transactional tables.
nolock=yes

# Include Galera info and enable wsrep_desync to avoid flow control during backup.
# When the backup is finished, wait for wsrep_local_recv_queue to drop to 0 before
# disabling wsrep_desync. 
galera={{ bgbackup_galera_on }}

# Only start backup when minimum amount of nodes is there
galera_minimum_nodes={{ bgbackup_galera_minimum_nodes | default('0') }}

# Run a preflight check script. If this script does not echo "OK" the backup process does not start.
# Input parameter: Path to bgbackup configuration file
preflight_script="{{ bgbackup_preflight_script }}"
# If the preflight check script produces any output other then 'OK', the backup will not run.
# If the preflight check script output does not start with 'NO_ERROR;' the backup run will have result ERROR and produce stderr output.

# Include slave info?
# WARNING: If slave info is included and nolock is enabled, bgbackup will enable safe-slave-backup. 
# (safe slave backups will temporarily pause replication. Please inspect the documentation if your application cannot handle stale reads.)
slave={{ bgbackup_slave_on }}

# By default, xtrabackup will backup RocksDB tables in the phase after InnoDB.
# If you don't use RocksDB you can disable this to speed up the backup process.
rocksdb={{ bgbackup_rocksdb_on }}

# Comma separated list of email address to be notified.
maillist={{ bgbackup_notification_emails }}

# Email subject prefix
mailsubpre="{{ bgbackup_email_sub_pre }}"

# Email (all or failure)
mailon={{ bgbackup_mailon }}

# Run command(s) after backup, for example: run_on_success=/usr/local/bin/success.sh
# (leave empty if you do not want to run anything)
# If backup succedded
run_after_success={{ bgbackup_run_after_success_script | default('') }}
# If backup failed
run_after_fail=

# Debug prints all variables to the commandline when script is ran.
# This can be a security risk. Set to yes to enable.
debug={{ bgbackup_debug_mode | default('no') }}

# Enabling verbosity prints all log output to stdout as well as to the log
verbose={{ bgbackup_verbose_mode | default('no') }}

############################################
