############################################

# bgrestore configuration file

# Which backup utility is being used, MariaBackup or Xtrabackup?
# MariaDB Backup = 1
# XtraBackup = 2
backuptool=1

# MariaDB host for restore
restorehost={{ bgrestore_restore_host }}

# MariaDB port for restore
bgrestoreport={{ bgrestore_restore_port }}

# MariaDB user for restore
restoreuser={{ bgrestore_restore_user }}

# MariaDB password for restore
restorepass={{ bgrestore_restore_password }}

# Directory to copy backup to for decompress/decrypt/restore (make sure it has enough space)
preppath={{ bgrestore_prepare_directory }}

# MariaDB host for backup history
backuphisthost={{ bgrestore_history_host }}

# MariaDB port for backup history
backuphistport={{ bgrestore_history_port }}

# MariaDB user for backup history
backuphistuser={{ bgrestore_history_user }}

# MariaDB password for backup history
backuphistpass={{ bgrestore_history_password }}

# MariaDB schema for backup history
backuphistschema={{ bgrestore_history_schema }}

# MariaDB host which backup should be from
backuphost={{ bgrestore_backup_source_host }}

# Skip copy step, place backup in preppath after creating it
skipcopy=yes

# Delete the previous restore first (before starting to decompress the backup)
deletefirst={{ 'yes' if bgrestore_delete_previous_backup_first | default(False) is truthy else 'no' }}

# Datadir
datadir={{ bgrestore_target_directory }}

# Datadir owner
datadirowner={{ bgrestore_datadir_owner }}

# Datadir group
datadirgroup={{ bgrestore_datadir_group }}

# Path to keep logs
logpath={{ bgrestore_log_path }}

# Log to syslog
syslog=no

# Used for derypt/decompress
threads=4

# Comma separated list of email address to be notified.
maillist={{ bgrestore_notification_emails }}

# Email subject prefix
mailsubpre="[BGRestore]"

# Email (all or failure)
mailon={{ bgrestore_mailon }}

# Number of log files to keep.
keeplognum={{ bgrestore_keep_log_num }}
############################################
