#!/bin/bash

# find and source the config file
etccnf=$( find /etc -name bgbackup.cnf )
scriptdir=$( cd "$(dirname "${BASH_SOURCE[0]}")" && pwd)
if [ -e "$etccnf" ]; then
    source "$etccnf"
elif [ -e "$scriptdir"/bgbackup.cnf ]; then
    source "$scriptdir"/bgbackup.cnf
else
    echo "Error: bgbackup.cnf configuration file not found"
    echo "The configuration file must exist somewhere in /etc or"
    echo "in the same directory where the script is located"
    exit 1
fi

last_backup_dir=`ls -Art $backupdir  | egrep -v '\.sql$' | tail -n 1`
last_full_backup_dir=`ls -Art $backupdir | egrep '^full' | egrep -v '\.sql$' | tail -n 1`

if [[ "$last_backup_dir" != "$last_full_backup_dir" ]] && [[ "${1:-nothing}" != "--force" ]] ; then

    echo "The last backup was not a full backup. The restore system only restores full backups. Please test your incremental backups manually or submit a merge request."
    exit 0
fi

rsync -zavir --delete --rsh="ssh -i {{ bgbackup_transfer_private_key_path }} -o StrictHostKeyChecking=no" ${backupdir}/${last_full_backup_dir}/ {{ bgbackup_restore_ssh_user }}@{{ bgbackup_restore_machine_ssh }}:{{ bgbackup_restore_target_directory }}
