# The backup history user can login from {{ bgbackup_history_user_source_host }} (you can configure this in ansible with bgbackup_history_user_source_host)
[client]
{% if bgbackup_history_user %}
user={{ bgbackup_history_user }}
{% endif %}
{% if bgbackup_history_password | default(False) %}
password={{ bgbackup_history_password }}
{% endif %}
{% if bgbackup_history_host | default(False) %}
host={{ bgbackup_history_host }}
{% endif %}
{% if bgbackup_history_port | default(False) %}
port={{ bgbackup_history_port }}
{% endif %}
{% if bgbackup_history_unix_socket | default(False) %}
socket={{ bgbackup_history_unix_socket }}
{% endif %}

{% if bgbackup_history_defaults_file | default(False) %}
# Include the regular history defaults file
!include {{ bgbackup_history_defaults_file }}
{% endif %}
